.AllMoviesPage{
    padding: 9rem 0;
}

.AllMoviesPage>h1{
    color: var(--mainColor);
    font-size: 2.5rem;
    width: max-content;
    margin: 32px auto;
}

.AllMoviesPage section>.heading {
    width: 100%;
    padding: 10px 130px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
        color:  var(--mainColor);
        font-size: 1.8rem;
        width: max-content;
    }
    img{
        width: 148px;
        height: 133px;
    }
}

.AllMoviesPage section .movies{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem 0;

    .singleMovie{
        width: 500px;
        height: 260px;
        background-color: rgba(107, 107, 107, 0.45);
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;

        img{
            display: block;
            width: 140px;
            height: 221px;
            border-radius: 20px;
            object-fit: cover;
        }
        div{
            width: 260px;
            display: flex;
            flex-direction: column;
            gap: .5rem;

            h3{
                font-size: 1.5rem;
                text-transform: uppercase;
            }

            button{
                width: max-content;
                background-color: var(--mainColor);
                color: black;
                font-weight: bold;
                padding: 10px 20px;
                border-radius: 10px;
                transition: 0.4s;
            }

            button:hover{
                background-color: black;
                color: var(--mainColor);
                box-shadow: 0px 2px whitesmoke;
            }

            .about {
                width: 260px;
                height: 100px;
                font-size: 0.8rem;
                overflow: hidden;
            }
        }
    }
}